services:
  service-discovery:
    build: 
      context: .
      dockerfile: service-discovery/Dockerfile
    container_name: service-discovery
    ports:
     - "8761:8761"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    # volumes:
    #  - ./service-discovery:/app
    #  - ~/.m2:/root/.m2
    networks:
     - app-network
  product:
    build:
      context: .
      dockerfile: product/Dockerfile
    container_name: product
    ports:
     - "8090:8080"
    # volumes:
    #  - ./product:/app
    #  - ~/.m2:/root/.m2
    depends_on:
      service-discovery:
        condition: service_healthy
    networks:
     - app-network
  inventory:
    # build:
    #   context: ./inventory
    build:
      context: .
      dockerfile: inventory/Dockerfile
    container_name: inventory
    ports:
     - "8091:8080"
    # volumes:
    #  - ./inventory:/app
    #  - ~/.m2:/root/.m2
    depends_on:
      service-discovery:
        condition: service_healthy
    networks:
     - app-network
  order:
    build:
      context: .
      dockerfile: order/Dockerfile
    container_name: order
    ports:
     - "8092:8080"
    depends_on:
      service-discovery:
        condition: service_healthy
    networks:
     - app-network
  payment:
    build:
      context: .
      dockerfile: payment/Dockerfile
    container_name: payment
    ports:
     - "8093:8080"
    depends_on:
      service-discovery:
        condition: service_healthy
    networks:
     - app-network
  gateway-service:
    build: 
      context: .
      dockerfile: gateway-service/Dockerfile
    container_name: gateway-service
    ports:
     - "8080:8080"
    # volumes:
    #  - ./gateway-service:/app
    #  - ~/.m2:/root/.m2
    depends_on:
      service-discovery:
        condition: service_healthy
    networks:
     - app-network
  redpanda:
    image: redpandadata/redpanda:v24.1.2
    command:
      - redpanda
      - start
      - --overprovisioned
      - --smp 1
      - --memory 512M
      - --reserve-memory 0M
      - --node-id 0
      - --check=false
      - --kafka-addr PLAINTEXT://0.0.0.0:9092
      - --advertise-kafka-addr PLAINTEXT://redpanda:9092
    ports:
      - "9092:9092"
      - "9644:9644"
    networks: 
     - app-network
networks:
  app-network:
    driver: bridge