body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.content {
  flex: 1; 
  padding: 0 20px;
  background-color: #f4f4f4;
  margin: 0 10%;
  padding-bottom: 30px;
  height: 100vh;
  overflow: auto;
}

ul {
    list-style-type: none;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

a:link {
  color: rgb(31, 29, 150);
}

a:visited {
  color: purple;
}

a:hover {
  color: red;
}

a:active {
  color: rgb(12, 192, 168);
}