.product-list {
    display: flex;
    padding: 25px;
    /* border: 1px solid; */
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start; 
    gap: 20px;
    margin-top: 15px;
    overflow-y: auto;
    flex-wrap: wrap;
    height: 160vh;
}