.input-form-div {
    margin-bottom: 3px;
    font-family: "Outfit", sans-serif;
}

.input-form-div label {
    padding-right: 5px;
}

.input-form-option {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    border-radius: 10px;
}

.input-form-inp {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 5px;
    font-size: 16px;
}

input[type="number"] {
    width: 5vw;
    text-align: center;
}

/* Chrome, Safari, Edge e Opera */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
} */