.product-page-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 35px;
}

/* .product-page-body > div {
    border: 1px solid;
} */

.product-page-checkout {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
}
.product-page-checkout > * {
    margin: 0;
}

.product-page-desc {
    line-break: anywhere;
}

.product-page-card {
    border-radius: 15px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.product-page-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
}

.product-page-img {
    align-self: center;
}

.product-page-return {
    margin-top: 15px;
}

.product-page-addtocart {
    align-self: center;
    padding-bottom: 5px;
    border-bottom: 1px solid;
}